{% extends 'base.html' %}

{% block content %}
{% if Keys.HUGGINGFACE_API_KEY == None %}
    <h1 class="text-3xl font-bold grid h-screen place-items-center">
      Save you API keys to use the application.
    </h1>
{% else %}
<br>
<br>
<br>
<br>
<br>
<div class="flex justify-center items-center">
<h1 class="text-center text-3xl bg-gray-200 w-3/5 rounded-lg shadow-xl m-1 p-2">Nodes captured</h1>
</div>
<br>
<br>
<br>
<div class="flex justify-center items-center">
<div id='chart' class='chart w-4/5'></div>
</div>
<br>
<br>
<br>
</div>
{% endif %}
{% endblock %}