{% extends 'base.html' %}

{% block content %}
{% if Keys.HUGGINGFACE_API_KEY == None %}
<section class="hiddenn">
    <h1 class="text-3xl font-bold grid h-screen place-items-center">
      Save you API keys to use the application.
    </h1>
  </section>
{% else %}


<div>
  <section class="hiddenn">
    <span>
      <div class="bg-gray-50 p-10 m-10 rounded-lg">
        <h1 class="text-6xl font-bold text-center">Your AI assisted learning space..</h1>
        <br>
        <p class="text-2xl text-center">TARS uses the HuggingFace models to generate questions and assess your understanding in real-time, right from your browser.</p>
        <br>
        <br>
        <br>
        <br>
        <div class="text-center w-full"><a href="" class="text-center p-6 m-6 text-3xl rounded-lg bg-black text-white font-bold">Dashboard</a><a href="asadasda" class="text-center p-6 m-6 text-black bg-white text-3xl rounded-lg hover:border-4">Nodes</a></div>
        <br>
        <br>
        <br>
        <br>
        <br>
        
      </div>
    </span>
  </section>

  <div class="">
  <p class=" px-10 text-2xl grid text-center place-items-center w-full">A study-focused application that generates conceptual questions, assesses answers, and provides intelligent assistance using natural language processing for an enhanced learning experience.</p>
</div>
  <section class="hiddenn">
    <div class="bg-gray-50 p-10 m-10 rounded-lg">
      <blockquote>“Cyberspace. A consensual hallucination experienced daily by billions of legitimate operators, in every nation, by children being taught mathematical concepts... A graphic representation of data abstracted from banks of every computer in the human system. Unthinkable complexity. Lines of light ranged in the nonspace of the mind, clusters and constellations of data. Like city lights, receding... <br> ― William Gibson, Neuromancer”</blockquote>
    </div>
  </section>
</div>

{% endif %}
{% endblock %}