{% extends 'base.html' %}

{% block content %}
{% if Keys.HUGGINGFACE_API_KEY == None %}
    <h1 class="text-3xl font-bold grid h-screen place-items-center">
      Save you API keys to use the application.
    </h1>
{% else %}
<br>
<br>
<br>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">Nodes</h1>
<br>
<br>
<div class="">
{% for node in recieve %}
<br>
<div class="flex items-center justify-center">
  <div class="bg-gray-200 w-1/2 p-5 m-2 shadow-xl">
    <div class="flex justify-between">
    <h1 class="text-left text-xl font-bold dark:text-white">{{node['title']}}</h1>
    <p class="text-right text-sm"><i>ID : </i>{{node['_id']}}</p>
  </div>
    <br>
    <p class="justify-center p-1"><i>Highlight : </i>{{node['highlight']}}</p>
    <br>
    <p class="justify-center p-1"><i>Annotation : </i>{{node['annotation']}}</p>
    <br>
    <div class="flex justify-between">
      <p class="text-left text-sm"><i>Created : </i>{{node['created']}}</p>
      <p class="text-right text-sm"><i>Tags : </i>{{node['tags']}}</p>
    </div>
  </div>
</div>
<br>


<br>
{% endfor %}
</div>
{% endif %}
{% endblock %}