{% extends 'base.html' %}

{% block content %}
{% if Keys.HUGGINGFACE_API_KEY == None %}
    <h1 class="text-3xl font-bold grid h-screen place-items-center">
      Save you API keys to use the application.
    </h1>
{% else %}
<p>-_-</p>
{{ Keys.HYPOTHESIS_USERNAME }}
{{ Keys.HYPOTHESIS_API_KEY }}
{{ Keys.HUGGINGFACE_API_KEY }}
{{ bank.mdbusername}}
{{ bank.mdbpassword }}
{{ bank.mdbdatabase }}
{{ bank.mdbcollection }}

{% for node in recieve %}
{{ node['_id'] }}
{% endfor %}

{% endif %}
{% endblock %}